*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5e3f8;
}

img {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.recipe-card {
    width: 1000px;
    background-color: #dceafa;
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    
}

.page-intro {
    padding: 20px;
    display: inline-block;
    width: 580px;
    vertical-align: top;
} 

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top: 0;
    text-align: left;
}

p {
    margin-bottom: 20px;
}

.recipes-nav {
    margin-left: 16px;

}


ul li a {
    color: rgb(101, 180, 253);
}

h2 {
    margin-right: auto;
}